SUBSYSTEMS=="usb", ATTRS{idVendor}=="0471", ATTRS{idProduct}=="9902", GROUP="users", MODE="0666"
SUBSYSTEMS=="usb", ATTRS{idVendor}=="0471", ATTRS{idProduct}=="9903", GROUP="users", MODE="0666"
